@font-face {
  font-family: 'Helvetica-Condensed-Black';
  src: url('Helvetica-Condensed-Black.eot');
  src: url('Helvetica-Condensed-Black.eot?#iefix') format('embedded-opentype'),
       url('Helvetica-Condensed-Black.svg#Helvetica-Condensed-Black') format('svg'),
       url('Helvetica-Condensed-Black.ttf') format('truetype'),
       url('Helvetica-Condensed-Black.woff') format('woff'),
       url('Helvetica-Condensed-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PandoramaDEMO-Regular';
  src: url('PandoramaDEMO-Regular.eot');
  src: url('PandoramaDEMO-Regular.eot?#iefix') format('embedded-opentype'),
       url('PandoramaDEMO-Regular.svg#PandoramaDEMO-Regular') format('svg'),
       url('PandoramaDEMO-Regular.ttf') format('truetype'),
       url('PandoramaDEMO-Regular.woff') format('woff'),
       url('PandoramaDEMO-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
