<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dad Jokes for Smiles</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
</head>

<body>

  <!-- navbar -->
  <nav class="navbar fixed-top navbar-dark navbar-translucent">
    <a class="navbar-brand" href="">
      <img src="/static/images/dad.png" width="35" height="35" class="d-inline-block align-top" alt="logo">
      Dad Jokes for Smiles
    </a>
  </nav>

  <!-- carousel -->
  <section class="carousel slide" data-ride="carousel">
    <div class="carousel-inner d-flex h-100">
      <div class="carousel-item active">
        <img class="img-fluid" src="/static/images/smile_bg_1.png" alt="First slide">
        <a class="bottom-right" href="http://www.freepik.com">Image designed by Katemangostar / Freepik</a>
      </div>
      <div class="carousel-item">
        <img class="img-fluid" src="/static/images/smile_bg_2.png" alt="Second slide">
        <a class="bottom-right" href="http://www.freepik.com">Image designed by Bearfotos / Freepik</a>
      </div>
      <div class="carousel-item">
        <img class="img-fluid" src="/static/images/smile_bg_3.png" alt="Third slide">
        <a class="bottom-right" href="http://www.freepik.com">Imaged designed by Freepik</a>
      </div>
      <!-- carousel content -->
      <div class="carousel-content container">
        <div class="row">
          <div class="col-sm-12">
            <div>
              <h1 class="boxed">Dad jokes to put a smile on your face</h1>
              <h2 class="boxed">Smile detection algorithm using deep learning convolutional neural networks</h2>
              <a class="btn btn-warning" href="#livefeed">Try it out ▼</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- live feed and joke section -->
  <section id="livefeed">
    <div class="row">
      <div class="col-8">
        <img class="rounded" src="{{ url_for('video_feed') }}" alt="live video feed" />
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col">
            <h3>Random Dad Joke Generator:</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="bubble">{{ joke }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col center">

            <form method="POST" action="/">
              <input type="submit" class="btn btn-success btn-sm rounded-circle float-left" name="next" value="▶">
            </form>

            {% if scroll %}
            <script>
              document.getElementById('{{ scroll }}').scrollIntoView();
              // or
              document.location.hash = '#' + '{{ scroll }}';
            </script>
            {% endif %}

          </div>

        </div>
      </div>
      <div class="row">
        <a class="btn btn-light" href="#about">LEARN MORE ▼</a>
      </div>
  </section>

  <!-- about section -->
  <section id="about">

  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

<!-- ?</html> -->
