<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style2.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font.css') }}">
  <title>:)</title>
</head>

<body>

  <!-- Navbar Image and text -->
  <nav class="navbar sticky-top navbar-light" style="background-color: #EDB230;">
    <a class="navbar-brand" href="">
      <img src="/static/images/smiley_face.png" width="30" height="30" class="d-inline-block align-top" alt="">
      DJ SMILE
    </a>
  </nav>

  <div class="container">
    <div class="row main">
      <h1>Built with Dad Jokes and Machine Learning to capture your smile!</h1>
      <!-- <div class="w-100"></div> -->
    </div>
    <div class="row">
      <h2>BlAHHHHH</h2>
    </div>
    <div class="row">
      <h2>BlAHHHHH2</h2>
    </div>

  </div>

</body>

</html>
