.navbar-brand {
  font-family: 'Helvetica-Condensed-Black';
  font-size: 25px;
}

.navbar-translucent {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 10px;
  color: #A9A9A9;
}

.img-fluid {
  width: 100vw;
  height: 100vh;
}

.boxed {
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-transform: uppercase;
}

.carousel-content {
  align-self: center;
  text-transform: uppercase;
  color: white;
}

h1 {
  font-family: 'Helvetica-Condensed-Black';
  font-size: 35px;
}

h2 {
  font-family: Montserrat;
  font-size: 20px;
}

h3 {
  font-family: 'Helvetica-Condensed-Black';
  font-size: 25px;
  text-align: left;
}

#livefeed {
  background: rgba(255, 193, 7, 0.2);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
}

#about {
  background: rgba(255, 193, 7, 0.6);
  padding: 60px 0;
  text-align: center;
}

#livefeed img {
  align-self: center;
  width: 85%;
  height: auto;
}

.bubble {
  position: relative;
  align-self: center;
  width: 85%;
  height: auto;
  margin-top: 30px;
  padding: 25px;
  background: #ffffff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  border: #333 solid 4px;
  font-family: Montserrat;
  font-size: 15px;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 17px 20px;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -20px;
  left: 28px;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 20px 23px;
  border-color: #333 transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -27px;
  left: 25px;
}
