.navbar-brand {
  font-family: 'Helvetica-Condensed-Black';
  font-size: 25px;
}

.navbar-translucent {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 10px;
  color: #A9A9A9;
}

.img-fluid{
  width: 100vw;
  height: 100vh;
}

.boxed {
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-transform: uppercase;
}

.carousel-content {
  align-self: center;
  text-transform: uppercase;
    color: white;
}

h2 {
  font-family: 'Helvetica-Condensed-Black';
  font-size: 35px;
}

.container p {
  font-family: Montserrat;
  font-size: 20px;
}

#livefeed {
  background: rgba(255, 193, 7, 0.7);
  padding: 60px 0;
  text-align: center;">
}

#about {
  background: black;
  padding: 60px 0;
  text-align: center;">
}
