.navbar-brand {
  font-family: 'Helvetica-Condensed-Black';
  font-size: 24px;
}

.navbar-translucent {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 8px;
  color: #A9A9A9;
}

.img-fluid {
  width: 100vw;
  height: 100vh;
}

.boxed {
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-transform: uppercase;
}

.carousel-content {
  align-self: center;
  text-transform: uppercase;
  color: white;
}

h1 {
  font-family: 'Helvetica-Condensed-Black';
  font-size: 48px;
}

h2 {
  font-family: 'Montserrat';
  font-size: 16px;
}

h4 {
  font-family: 'Helvetica-Condensed-Black';
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

h5 {
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

#livefeed {
  background: rgba(9, 63.5, 72.2, 0.1);
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.joke img {
  /* align-self: left; */
  width: 40px;
  height: 40px;
}

.video img {
  align-self: center;
  width: 95%;
  height: auto;
  float: center;
  border-width: thick !important;
  border-color: #333 !important;
}

#about {
  background: rgba(9, 63.5, 72.2, 0.5);
  padding-top: 80px;
  padding-bottom: 40px;
  line-height: 1.5;
}

#about .col-2 img {
  float: right;
  width: 50px;
  height: 50px;
}

#about img {
  margin-bottom: 12px;
}

#about h6 {
  font-family: 'Helvetica';
  font-size: 16px;
  font-style: bold;
  letter-spacing: 2px;
  color: white;
}

#about p, li {
  font-family: 'Cardo';
  font-size: 16px;
}

ol {
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
}

ol li:after {
  font-weight: bold;
}

#about .container {
  padding-left: 70px;
  padding-right: 70px;
}

.bubble {
  position: relative;
  align-self: center;
  width: 100%;
  height: auto;
  margin-top: 35px;
  padding: 20px;
  background: #ffffff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  border: #333 solid 4px;
  font-family: Montserrat;
  font-size: 16px;
  text-align: left;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 17px 20px;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -20px;
  left: 28px;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 20px 23px;
  border-color: #333 transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -27px;
  left: 25px;
}
